<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.hive.sell.dao.ItemMapper">

    <!--
    <select id="findAll" resultType="User">
        SELECT *
        FROM users
    </select>
    -->

</mapper>