<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个指定的dao接口-->
<mapper namespace="com.hive.sell.dao.OrderMapper">

    <select id="findTopItem" resultType="Item">
        SELECT itemId, SUM(payment) AS total
        FROM orders
        GROUP BY itemId
        ORDER BY total DESC
        LIMIT 5;
    </select>

    <select id="findTopUser" resultType="User">
        SELECT userId, SUM(payment) AS total
        FROM orders
        GROUP BY userId
        ORDER BY total DESC
    </select>

    <!--
    <select id="findByTime" resultType="Order">
        SELECT *
        FROM orders
        WHERE endTime > orderTime AND startTime
    </select>
    -->

</mapper>